.pagination {
  display: flex;
  gap: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pageNumber,
.arrow {
  padding: 8px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.pageNumber:disabled,
.arrow:disabled {
  cursor: default;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

}