.categories {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  /* flex-wrap: wrap; */
  overflow-x: auto;
  overflow-y: hidden;
  padding: 8px 0;
  margin: 0 auto;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;

}

.item,
.active {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: none;
  border-radius: 32px;
  background-color: #f2f4f5;
  cursor: pointer;
}

.item:hover,
.active:hover {
  background-color: #e7e7ff;
}


.active {
  background-color: #e7e7ff;
  color: #6b4eff;
}